# **Assignment on Uber dataset**

**Load the dataset**

In [7]:
import pandas as pd
df=pd.read_csv("Uber.csv")

**Display basic info about dataset**

In [8]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit

**Check for missing values**

In [9]:
df.isna().sum()

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

**Drop rows with missing values**

In [10]:
# df=df.dropna()
# df.isna().sum()

**fill missing values (propose column with unknown value)**

In [13]:
df['END_DATE*'].fillna(df['END_DATE*'].mode()[0],inplace=True)
df['CATEGORY*'].fillna(df['CATEGORY*'].mode()[0],inplace=True)
df['START*'].fillna(df['START*'].mode()[0],inplace=True)
df['STOP*'].fillna(df['STOP*'].mode()[0],inplace=True)
df['MILES*'].fillna(df['MILES*'].mean())
df['PURPOSE*'].fillna(df['PURPOSE*'].mode()[0],inplace=True)
df.isna().sum()

START_DATE*    0
END_DATE*      0
CATEGORY*      0
START*         0
STOP*          0
MILES*         0
PURPOSE*       0
dtype: int64

**Check and remove duplicates**

In [15]:
duplicate=df[df.duplicated()]
print(duplicate)

         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting

In [17]:
df.drop_duplicates(keep="first",inplace=True,ignore_index=True)
duplicate=df[df.duplicated()]
print(duplicate)

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []

**Convert START_DATE and END_DATE to datetime**

In [19]:
df['START_DATE']=pd.to_datetime(df['START_DATE*'], format='%m/%d/%Y %H:%M',errors='coerce')
df.dtypes

START_DATE*            object
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
START_DATE     datetime64[ns]
dtype: object

In [20]:
df['END_DATE']=pd.to_datetime(df['END_DATE*'], format='%m/%d/%Y %H:%M',errors='coerce')
df.dtypes

START_DATE*            object
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
START_DATE     datetime64[ns]
END_DATE       datetime64[ns]
dtype: object

**Total number of rides per category:**

In [21]:
rides_per_category = df.groupby('CATEGORY*').size()
print(rides_per_category)

CATEGORY*
Business    1078
Personal      77
dtype: int64

**Total miles traveled for each purpose:**

In [26]:
total_miles_traveled_purpose=df.groupby('PURPOSE*')['MILES*'].sum()
print(f'total miles traveled for each purpose {total_miles_traveled_purpose}')

total miles traveled for each purpose PURPOSE*
Airport/Travel        16.5
Between Offices      197.0
Charity ($)           15.1
Commute              180.2
Customer Visit      2089.5
Errand/Supplies      508.0
Meal/Entertain       911.7
Meeting            19939.6
Moving                18.2
Temporary Site       523.7
Name: MILES*, dtype: float64

**Average distance for business vs. personal rides:**

In [28]:
res=df.groupby('CATEGORY*')['MILES*'].mean()
print(res)

CATEGORY*
Business    21.968275
Personal     9.320779
Name: MILES*, dtype: float64

**Add a column for cost estimation (assuming $2 per mile):**

In [37]:
import numpy as np
df['COST_ESTIMATION*']=(df['MILES*']*2)
print(df.head(5))

      START_DATE*       END_DATE* CATEGORY*       START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce  West Palm Beach

   MILES*         PURPOSE*          START_DATE            END_DATE  \
0     5.1   Meal/Entertain 2016-01-01 21:11:00 2016-01-01 21:17:00
1     5.0          Meeting 2016-01-02 01:25:00 2016-01-02 01:37:00
2     4.8  Errand/Supplies 2016-01-02 20:25:00 2016-01-02 20:38:00
3     4.7          Meeting 2016-01-05 17:31:00 2016-01-05 17:45:00
4    63.7   Customer Visit 2016-01-06 14:42:00 2016-01-06 15:49:00

   COST_ESTIMATION*
0              10.2
1              10.0
2               9.6
3               9.4
4             127.4

**Filter rides longer than 50 miles:**

In [39]:
filtered_rides = df[df['MILES*'] > 50]
# print(filtered_rides[['CATEGORY*','MILES*']])
print(filtered_rides)

           START_DATE*         END_DATE* CATEGORY*            START*  \
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
232    3/17/2016 12:52   3/17/2016 15:11  Business            Austin
251    3/19/2016 19:33   3/19/2016 20:39  Business         Galveston
268    3/25/2016 13:24   3/25/2016 16:22  Business              Cary
269    3/25/2016 16:52   3/25/2016 22:22  Business             Latta
270    3/25/2016 22:54    3/26/2016 1:39  Business      Jacksonville
295     4/2/2016 12:21    4/2/2016 14:47  Business         Kissimmee
296     4/2/2016 16:57    4/2/2016 18:09  Business     Daytona Beach
297     4/2/2016 19:38    4/2/2016 22:36  Business      Jacksonville
298     4/2/2016 23:11     4/3/2016 1:34  Business         Ridgeland
299      4/3/2016 2:00     4/3/2016 4:16  Business          Florence
545    7/14/2016 16:39   7/14/2016 20:05  Business       Morrisville
558    7/17/2016 12:20   7/17/2016 15:25  Personal             Boone
706    8/24/2016 13:01   8/24/2016 15:25  Business  Unknown Location
709    8/25/2016 17:19   8/25/2016 19:20  Business  Unknown Location
725    8/27/2016 14:01   8/27/2016 15:44  Business            Lahore
726    8/27/2016 16:15   8/27/2016 19:13  Business  Unknown Location
750     9/6/2016 17:49    9/6/2016 17:49  Business  Unknown Location
775    9/27/2016 21:01    9/28/2016 2:37  Business  Unknown Location
787    10/6/2016 17:23   10/6/2016 17:40  Business        R?walpindi
868   10/28/2016 15:53  10/28/2016 17:59  Business              Cary
869   10/28/2016 18:13  10/28/2016 20:07  Business     Winston Salem
870   10/28/2016 20:13  10/28/2016 22:00  Business         Asheville
872   10/29/2016 17:13  10/29/2016 19:19  Business        Hayesville
879   10/30/2016 13:24  10/30/2016 14:37  Business       Bryson City
880   10/30/2016 15:22  10/30/2016 18:23  Business         Asheville
1087  12/21/2016 20:56  12/21/2016 23:42  Business        Rawalpindi
1154            Totals   6/28/2016 23:59  Business              Cary

                 STOP*   MILES*        PURPOSE*          START_DATE  \
4      West Palm Beach     63.7  Customer Visit 2016-01-06 14:42:00
232               Katy    136.0  Customer Visit 2016-03-17 12:52:00
251            Houston     57.0  Customer Visit 2016-03-19 19:33:00
268              Latta    144.0  Customer Visit 2016-03-25 13:24:00
269       Jacksonville    310.3  Customer Visit 2016-03-25 16:52:00
270          Kissimmee    201.0         Meeting 2016-03-25 22:54:00
295      Daytona Beach     77.3  Customer Visit 2016-04-02 12:21:00
296       Jacksonville     80.5  Customer Visit 2016-04-02 16:57:00
297          Ridgeland    174.2  Customer Visit 2016-04-02 19:38:00
298           Florence    144.0         Meeting 2016-04-02 23:11:00
299               Cary    159.3         Meeting 2016-04-03 02:00:00
545         Banner Elk    195.3         Meeting 2016-07-14 16:39:00
558               Cary    180.2         Commute 2016-07-17 12:20:00
706   Unknown Location     96.2         Meeting 2016-08-24 13:01:00
709   Unknown Location     50.4         Meeting 2016-08-25 17:19:00
725   Unknown Location     86.6         Meeting 2016-08-27 14:01:00
726   Unknown Location    156.9         Meeting 2016-08-27 16:15:00
750   Unknown Location     69.1         Meeting 2016-09-06 17:49:00
775   Unknown Location    195.6         Meeting 2016-09-27 21:01:00
787   Unknown Location    112.6         Meeting 2016-10-06 17:23:00
868      Winston Salem    107.0         Meeting 2016-10-28 15:53:00
869          Asheville    133.6         Meeting 2016-10-28 18:13:00
870             Topton     91.8         Meeting 2016-10-28 20:13:00
872             Topton     75.7         Meeting 2016-10-29 17:13:00
879          Asheville     68.4         Meeting 2016-10-30 13:24:00
880             Mebane    195.9         Meeting 2016-10-30 15:22:00
1087  Unknown Location    103.0         Meeting 2016-12-21 20:56:00
1154              Cary  12204.7         Meeting                 NaT

                END_DATE  COST_ESTIMATION*
4    2016-01-06 15:49:00             127.4
232  2016-03-17 15:11:00             272.0
251  2016-03-19 20:39:00             114.0
268  2016-03-25 16:22:00             288.0
269  2016-03-25 22:22:00             620.6
270  2016-03-26 01:39:00             402.0
295  2016-04-02 14:47:00             154.6
296  2016-04-02 18:09:00             161.0
297  2016-04-02 22:36:00             348.4
298  2016-04-03 01:34:00             288.0
299  2016-04-03 04:16:00             318.6
545  2016-07-14 20:05:00             390.6
558  2016-07-17 15:25:00             360.4
706  2016-08-24 15:25:00             192.4
709  2016-08-25 19:20:00             100.8
725  2016-08-27 15:44:00             173.2
726  2016-08-27 19:13:00             313.8
750  2016-09-06 17:49:00             138.2
775  2016-09-28 02:37:00             391.2
787  2016-10-06 17:40:00             225.2
868  2016-10-28 17:59:00             214.0
869  2016-10-28 20:07:00             267.2
870  2016-10-28 22:00:00             183.6
872  2016-10-29 19:19:00             151.4
879  2016-10-30 14:37:00             136.8
880  2016-10-30 18:23:00             391.8
1087 2016-12-21 23:42:00             206.0
1154 2016-06-28 23:59:00           24409.4

**Filter by specific purpose (e.g., meetings):**

In [43]:
rides1 = df[df['PURPOSE*'] == 'Meeting']
rides2 = df[df['PURPOSE*'] == 'Customer Visit']
print(rides1)
print(rides2)

           START_DATE*         END_DATE* CATEGORY*            START*  \
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
6       1/6/2016 17:30    1/6/2016 17:35  Business   West Palm Beach
7       1/7/2016 13:27    1/7/2016 13:33  Business              Cary
8       1/10/2016 8:05    1/10/2016 8:25  Business              Cary
...                ...               ...       ...               ...
1143  12/29/2016 23:14  12/29/2016 23:47  Business  Unknown Location
1147  12/30/2016 16:45  12/30/2016 17:08  Business           Kar?chi
1149   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
1151  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1154            Totals   6/28/2016 23:59  Business              Cary

                 STOP*   MILES* PURPOSE*          START_DATE  \
1          Fort Pierce      5.0  Meeting 2016-01-02 01:25:00
3          Fort Pierce      4.7  Meeting 2016-01-05 17:31:00
6           Palm Beach      7.1  Meeting 2016-01-06 17:30:00
7                 Cary      0.8  Meeting 2016-01-07 13:27:00
8          Morrisville      8.3  Meeting 2016-01-10 08:05:00
...                ...      ...      ...                 ...
1143           Kar?chi     12.9  Meeting 2016-12-29 23:14:00
1147           Kar?chi      4.6  Meeting 2016-12-30 16:45:00
1149           Kar?chi      0.7  Meeting 2016-12-31 01:07:00
1151  Unknown Location     16.2  Meeting 2016-12-31 15:03:00
1154              Cary  12204.7  Meeting                 NaT

                END_DATE  COST_ESTIMATION*
1    2016-01-02 01:37:00              10.0
3    2016-01-05 17:45:00               9.4
6    2016-01-06 17:35:00              14.2
7    2016-01-07 13:33:00               1.6
8    2016-01-10 08:25:00              16.6
...                  ...               ...
1143 2016-12-29 23:47:00              25.8
1147 2016-12-30 17:08:00               9.2
1149 2016-12-31 01:14:00               1.4
1151 2016-12-31 15:38:00              32.4
1154 2016-06-28 23:59:00           24409.4

[689 rows x 10 columns]
           START_DATE*         END_DATE* CATEGORY*            START*  \
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
9      1/10/2016 12:17   1/10/2016 12:44  Business           Jamaica
20     1/12/2016 15:13   1/12/2016 15:28  Business     Hudson Square
25     1/14/2016 16:29   1/14/2016 17:05  Business           Houston
36     1/20/2016 13:25   1/20/2016 14:19  Business           Raleigh
...                ...               ...       ...               ...
1116  12/26/2016 11:29  12/26/2016 11:42  Business            Lahore
1121  12/27/2016 14:49  12/27/2016 15:03  Business           Kar?chi
1123  12/27/2016 19:19  12/27/2016 19:50  Business           Kar?chi
1140  12/29/2016 19:50  12/29/2016 20:10  Business  Unknown Location
1148  12/30/2016 23:06  12/30/2016 23:10  Business           Kar?chi

                 STOP*  MILES*        PURPOSE*          START_DATE  \
4      West Palm Beach    63.7  Customer Visit 2016-01-06 14:42:00
9             New York    16.5  Customer Visit 2016-01-10 12:17:00
20      Hell's Kitchen     2.4  Customer Visit 2016-01-12 15:13:00
25             Houston    21.9  Customer Visit 2016-01-14 16:29:00
36                Cary    40.2  Customer Visit 2016-01-20 13:25:00
...                ...     ...             ...                 ...
1116            Lahore     3.8  Customer Visit 2016-12-26 11:29:00
1121  Unknown Location     3.1  Customer Visit 2016-12-27 14:49:00
1123           Kar?chi     5.5  Customer Visit 2016-12-27 19:19:00
1140           Kar?chi     4.1  Customer Visit 2016-12-29 19:50:00
1148           Kar?chi     0.8  Customer Visit 2016-12-30 23:06:00

                END_DATE  COST_ESTIMATION*
4    2016-01-06 15:49:00             127.4
9    2016-01-10 12:44:00              33.0
20   2016-01-12 15:28:00               4.8
25   2016-01-14 17:05:00              43.8
36   2016-01-20 14:19:00              80.4
...                  ...               ...
1116 2016-12-26 11:42:00               7.6
1121 2016-12-27 15:03:00               6.2
1123 2016-12-27 19:50:00              11.0
1140 2016-12-29 20:10:00               8.2
1148 2016-12-30 23:10:00               1.6

[101 rows x 10 columns]

**What is the total number of business trips versus personal trips?**

In [47]:
trip_counts = df['CATEGORY*'].value_counts()
print(trip_counts)

CATEGORY*
Business    1078
Personal      77
Name: count, dtype: int64

**What percentage of trips are business versus personal?**

In [48]:
num_business_trips = df[df['CATEGORY*'] == 'Business'].shape[0] 

num_personal_trips = df[df['CATEGORY*'] == 'Personal'].shape[0]

In [49]:
total_trips = len(df)

business_trip_percentage = (num_business_trips / total_trips) * 100
personal_trip_percentage = 100 - business_trip_percentage 

print(f"Percentage of Business Trips: {business_trip_percentage:.2f}%")
print(f"Percentage of Personal Trips: {personal_trip_percentage:.2f}%")

Percentage of Business Trips: 93.33%
Percentage of Personal Trips: 6.67%